body {
  padding: 0;
  margin: 0;
}

.App {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.table {
  /* background-color: aquamarine; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

.row {
  display: flex;
  flex: 33%;
  flex-direction: row;
}

.square {
  border: 1px solid black;
  color: black;
  cursor: pointer;
  display: grid;
  flex: 33%;
  font-size: 30px;
  height: 100%;
  place-items: center;

  &:active {
    background-color: #d4d4d4;
  }
}